apiVersion: apps/v1
kind: Deployment
metadata:
  name: website  
  namespace: default
  labels:
    app: website
spec:
  replicas: 2
  selector:
    matchLabels:
      app: website
  template:
    metadata:
      labels:
        app: website
    spec:
      containers:
      - name: website
        image: khanecr.azurecr.io/website:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 80
